body {
    margin: 0;
    background-color: black;
    color: white;
    font-size: 24px;
}

.home {
    width: 80%;
    margin: 20px auto;
    text-align: justify;
}

h1 {
    margin-top: 36px;
    font-size: 30px;
    color: skyblue;
    text-align: center;
}

form input {
    font-size: 20px;
    width: 100px;
    text-align: center;
}

button {
    font-size: 20px;
    padding: 7px 20px;
    font-weight: 500;
    background-color: black;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
}

button:hover {
    background-color: #777777;
    color: white;
}

td.lt {
    width: 50%;
    text-align: right;
}

td.rt {
    width: 50%;
    text-align: left;
    padding-left: 5px;
}

.err {
    display: inline;
    padding: 6px 20px;
    color: red;
    border: 2px solid red;
}